body		{ margin: 0; padding: 0; font-family: Cambria, Georgia, serif; }
#head		{ font-size: 30pt; margin: 5px; padding: 0px; color: #191970; }
#changec:hover	{ color: Peru; }
#menu		{ color: white; margin: 0px; padding-top: 7; padding-bottom:7; padding-left: 30px; background: #483D8B; box-shadow: inset 0px 0px 20px 0px rgba(0,0,0,1); }
#main		{ margin: 20px; padding: 0px; color: black; }
table#id1		{ background: #F5F5F5; padding: 20; margin: 20; box-shadow: 0 0 10px; border-spacing: 1px 20px; font-size: 15pt }
table#id2		{ color: #191970; padding: 0; margin: 0; box-shadow: 0; border-spacing: 0px 0px;}
td#logo		{ background: url('inter_logo.png'); width: 150; }
td#logo:hover		{ background: url('inter_logo1.png'); width: 150; }
input		{ background: white; height: 30px; font-family: Cambria, Georgia, serif; font-size: 16px}
#footer 	{ margin-top: 100px;padding-left: 30px; position: relative; height: 100px; margin-top: -10px; background: #483D8B; color: white; clear:both;box-shadow: inset 0px 0px 20px 0px rgba(0,0,0,1); }
A:link 		{ text-decoration: none; color: black; } 
A:visited 	{ text-decoration: none; color: black; } 
A:active 	{ text-decoration: none; color: black; }
#result 	{ color: black; background: white; font-size: 15pt; margin: 0px; padding: 7px; font: serif; }
.page-wrap 	{ min-height: 100%; margin-bottom: 20px}
#block_id 	{ display: none; color: black}
#up		{ text-transform: uppercase; }
#meaning		{ background: white; }
#meaning:hover		{ background: #E6E6FA; }
input.lin[type=submit] {border:0 none; 
cursor:pointer;
-webkit-border-radius: 5px;
border-radius: 5px; 
font: normal small-caps 12px/14px fantasy;}
